body {
    font-family: 'Open Sans', sans-serif;
}

header {
    display: flex;
}

.part-1 {
    justify-content: space-between;
    background: #E554731A;
    width: 1920px;
    height: 850px;
    background-image: url('pngwing\ 10.png');
    background-repeat: no-repeat;
    justify-content: space-between;
    padding: 30px 30px 30px 150px;
    align-items: center;
    background-position: bottom right;
    justify-content: space-between;
}

.header-title {
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    display: flex;
    width: 700px;
    flex-direction: column;

}

.header-p {
    color: #27272799;
    ;
    font-size: 18px;
    font-weight: 400;
    width: 700px;
    margin-top: 32px;
    margin-bottom: 32px;
}

.header-b {
    background: #E55473;
    display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px;
}

button {
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border-radius: 8px;
}

.first-section-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-top: 200px;
    display: flex;
    padding-left: 764px;
    padding-right: 764px;
}

.first-section-p {
    color: #27272799;
    text-align: center;
    width: 594px;
    font-size: 18px;
    padding-left: 665px;
    padding-right: 665px;
    margin-top: 24px;
}

.dd {
    display: flex;
    justify-content: center;
}


.tree-section {
    display: flex;
    margin: 30px;


}

.Pink-Flower-Tree {
    margin: 60px;
    margin-top: 30px;
}

.one {
    background-color: #A7216226;
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;

}

.one-img {

    padding: 110px 30px 0px 50px;


}

.one-p {
    color: #272727;
    text-align: center;
    font-size: 24px;
    text-decoration-line: underline;
}

.two {
    background-color: #0597A026;
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;

}

.two-img {
    width: 370px;

    padding: 110px 30px 0px 70px;
}

.two-p {
    color: #272727;
    text-align: center;
    font-size: 24px;
    text-decoration-line: underline;
}

.three {
    background-color: #477D1126;
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
}

.three-img {
    padding: 67px 30px 0px 50px;
}

.three-p {
    color: #272727;
    text-align: center;
    font-size: 24px;
    text-decoration-line: underline;
}

.Pink-Flower-Tree-two {
    margin: 60px;
    margin-top: 30px;
}

.Pink-Flower-Tree-three {
    margin: 60px;
    margin-top: 30px;
}

.h {
    color: #E55473;
}

.hot-deal {
    background-color: #E554730D;
    width: 1900px;
    height: 620px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 50px;
    border-radius: 8px;


}

.section-title-two {
    text-align: center;
    color: #272727;
    font-size: 40px;
}

.section-p-two {
    color: #27272799;
    text-align: center;
    font-size: 18px;
    align-items: center;
    width: 700px;
}

.img8 {
    padding-right: 300px;
}

.ppp {
    padding-left: 200px;
}

.bbb {
    display: flex;
    justify-content: center;
    align-items: center;
}

.instra-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-top: 100px;
    display: flex;
    padding-left: 870px;
    padding-right: 870px;
}

.instra-title-p {
    color: #27272799;
    text-align: center;
    width: 594px;
    font-size: 18px;
    padding-left: 663px;
    padding-right: 663px;
    margin-top: 24px;
}

.four-photo {
    margin-left: 240px;
    margin-right: 240px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    gap: 24px;
    margin-bottom: 100px;
}

.fff {
    padding-left: 240px;
    padding-right: 240px;
    padding-top: 100px;
}

.last-section {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: url('Rectangle\ 9.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1400px 500px; 

}   
.yyy{
    color: #272727;
text-align: center;
font-size: 40px;
align-items: center;
}
.rrr{
    color: #27272799;
text-align: center;
font-size: 18px;
gap: 16;

}
.your-email{
    color: #27272799;
text-align: center;
font-size: 16px;
width: 700px;
height: 64px;
text-align: left;
}
.btn{
    width: 150px;
    height: 64px;
    border-radius: 8px;
background: #E55473;
text-align: center;
}
#bttn{

}