body {
    font-family: 'Open Sans', sans-serif;
}

header {
    background: #E554731A;
    width: 1920px;
    height: 850px;
    background-image: url('pngwing\ 10.png');
    background-repeat: no-repeat;
    background-position: bottom right;
    display: flex;
}

.part-1 {
    justify-content: space-between;
    padding-left: 100px;

}

.header-title {
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    display: flex;
    width: 700px;
    flex-direction: column;

}

.header-p {
    color: #27272799;
    ;
    font-size: 18px;
    font-weight: 400;
    width: 700px;
    margin-top: 32px;
    margin-bottom: 32px;
}

.header-b {
    background: #E55473;
    display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px;
}

button {
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border-radius: 8px;
}

.first-section-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-top: 200px;
}

.first-section-p {
    color: #27272799;
    text-align: center;
    width: 594px;
    font-size: 18px;
    padding-left: 665px;
    padding-right: 665px;
    margin-top: 24px;
}

.tree-section {
    display: flex;
    margin: 50px;
}

.Pink-Flower-Tree {}

.one {
    background-color: #A7216226;
    width: 464px;
    height: 538px;
}

.one-img {

    padding: 30px 30px 0px 30px;

}

.one-p {
    color: #272727;
    text-align: center;
    font-size: 24px;
    text-decoration-line: underline;
}

.two {
    background-color: #0597A026;
    width: 464px;
    height: 538px;
}

.two-img {
    width: 370px;

    padding: 30px 30px 0px 30px;
}

.two-p {
    color: #272727;
    text-align: center;
    font-size: 24px;
    text-decoration-line: underline;
}